//
// LRIC
//

@tailwind preflight;
@tailwind utilities;
@tailwind screens;


@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
	body {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased
	}
}

a { transition: color 150ms ease-in-out, background 150ms ease-in-out }

.element-invisible {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.svg-headline-one {
	margin: 0 auto;
	height: auto;
	width: 100%;
	max-width: 48.8125rem
}

.svg-headline-two {
	margin: 0 auto;
	height: auto;
	width: 100%;
	max-width: 25rem
}

.translate_-l-3_t-3 { transform: translate(-.75rem, .75rem) }
@media (min-width: 576px) {
	.sm\:translate_-l-4_t-4 { transform: translate(-1rem, 1rem) }
}
@media (min-width: 768px) {
	.md\:translate_-l-4_t-4 { transform: translate(-1rem, 1rem) }
}

@import 'fonts';
@import 'images';

.btn {
	@apply .font-semibold .inline-block .leading-none .no-underline .text-center .tracking-thin .uppercase;
	transition: all 150ms ease-in-out;
	&.--small {
		@apply .h-10 .px-9 .text-2xs;
		padding-top: 15.5px;
	}
	
	&.--medium {
		@apply .h-10 .px-9 .text-1xs;
		padding-top: 14.5px
	}
	&.--large {
		@apply .h-10 .px-4 .text-1xs;
		padding-top: 14.5px
	}
	@media (min-width: 768px) {
		&.--large {
			@apply .h-15 .px-4 .rounded-sm .text-xs;
			padding-top: 23px
		}
	}
}
button.btn {
	&.--medium {
		padding-top: 1px
	}
	&.--large {
		padding-top: 2px
	}
}





/*   BIO SHOWN   */
.css__bio-shown {
	overflow: hidden;
	position: absolute;
	width:100%
}
.show_bio_btn:focus, .hide_bio_btn:focus {
	outline: none
}

/* 5 */
.founder-bio.css-hide_bio {
	visibility: hidden;
	opacity: 1;
	transition: opacity .25s;
}
.founder-bio {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s;
}
.founder-bio.css-hide_bio section {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.75);
	transition: transform 0.15s, opacity 0.15s, visibility 0s 0.15s;
}

.founder-bio section {
	visibility: visible;
	opacity: 1;
	transform: scale(1);	
	transition: transform .75s, opacity .75s;
}

.css__bio-shown::-webkit-scrollbar { 
    display: none; 
}
/* END BIO SHOWN */


.heading-gradient {
	background:    linear-gradient(-90deg, #FFDB8F 1%, #EDC879 14%, #EDC879 26%, #E0AB65 52%, #EDBC77 67%, #E3B66D 84%, #E0B370 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	&.--one {
		max-width:22.22222222222222em
	}
	
	/*   No Background in Internet Explorer   */
	@media screen and (min-width:0\0) { 
	    background: none
	}
	/* End No Background in Internet Explorer */
}





@media screen and (min-width:0\0) { 
	@media (min-width: 992px) {
		.lg\:ie-mt-8 { margin-top: 2rem }
	}
}


@media (min-width: 608px) {
	.c38\:flex-no-wrap { flex-wrap: nowrap }
	.c38\:mb-0 { margin-bottom: 0 }
}