<svg class="h-11 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
  <defs>
    <style>
      .cls-1{fill:none;stroke:#646464;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px}
    </style>
  </defs>
  <g id="icons_redevelopment" data-name="icons/redevelopment">
    <g id="Group-17">
      <path id="Stroke-1082" class="cls-1" d="M1 25a18 18 0 1 1 18 18A18 18 0 0 1 1 25z"/>
      <path id="Stroke-1083" class="cls-1" d="M9 25a10 10 0 1 1 10 10A10 10 0 0 1 9 25z"/>
      <path id="Stroke-1086" class="cls-1" d="M19 25L41 3"/>
      <path id="Stroke-1087" class="cls-1" d="M35 1l2 6-6 6-2-6 6-6z"/>
      <path id="Stroke-1088" class="cls-1" d="M43 9l-6-2-6 6 6 2 6-6z"/>
    </g>
  </g>
</svg>