<svg class="h-11 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 44">
  <defs>
    <style>
      .cls-1{fill:none;stroke:#646464;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px}
    </style>
  </defs>
  <g id="icons_development" data-name="icons/development">
    <path id="Stroke-943" class="cls-1" d="M45 42H1V2h44v40z"/>
    <path id="Stroke-941" class="cls-1" d="M34.97 18.27L40 21l5-7"/>
    <path id="Stroke-942" class="cls-1" d="M1 22l4 3 4-7 6 11 4-8 4 3 4.17-4.81"/>
    <path id="Stroke-944" class="cls-1" d="M31 22v20"/>
    <path id="Stroke-945" class="cls-1" d="M31 2v12"/>
    <path id="Stroke-946" class="cls-1" d="M27 18a4 4 0 1 1 4 4 4 4 0 0 1-4-4z"/>
  </g>
</svg>