<!DOCTYPE html>
<html class="h-full" lang="en">
	<head>
		<meta charset="utf-8">
		<title>LRIC</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Sitewide Styles -->
		<link href="../../../assets/css/styles.css" rel="stylesheet">
		<style>
		@media (min-width: 608px) {
			.thirty-eight-flex-no-wrap {
				-ms-flex-wrap: nowrap;
					flex-wrap: nowrap;
			}
			.thirty-eight-mb0 {
				margin-bottom: 0
			}
		}
		</style>
	</head>
	<body class="bg-white flex flex-col font-sans min-h-full text-black">

		<div class="flex-1">
			{{ partial "site_header" . }}
			
			{{ block "main" . }}{{ end }}
		</div>

		{{ partial "site_footer" . }}
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	var body = document.querySelector("body");
	var position= $(body).scrollTop();
	
	$(".show_bio_btn").click(function () {
		body.classList.toggle("css__bio-shown");
    	$(this).siblings(".founder-bio").toggleClass( "css-hide_bio" );
		body.scrollTop(position);
  	});
	$(".hide_bio_btn").click(function () {
		body.classList.toggle("css__bio-shown");
    	$(this).parent('section').parent(".founder-bio").toggleClass( "css-hide_bio" );
		body.scrollTop(position);
  	});
  	</script>
</html>