{{ define "main" }}

{{ range where .Data.Pages "Title" "Home"}}

    <main style="background: url('../../../assets/img/marble.jpg') no-repeat center top; background-size: 100% auto;">
        
        <!--   Section One   --> 
        <section class="m-auto max-w-2xl pt-20 px-4   sm:px-6   md:px-8">
            <!--   Headline   -->
            <h2 class="heading-gradient  --one   font-medium leading-tight m-auto mb-17 text-xl text-center text-yellow-dark uppercase   xs:text-2xl   sm:text-3xl   md:px-4 md:text-4xl   lg:px-0">{{ .Params.heading }}</h2>
            
            <!--
            <div class="mb-20 text-center">
                {{ partial "svg/headlines/headline_one" . }}
            </div>
            -->
            <!-- End Headline -->
        
        
            <!--   Text Left/Fancy Photo Right   -->
            <div class="md:flex md:flex-row-reverse md:justify-between  mb-24">
                <div class="border border-yellow-light mb-12 ml-3 self-start   sm:mb-0 sm:ml-35p sm:w-3/5   md:ml-0 md:w-2/5   lg:w-1/2">
                    <figure class="img is5by3   translate_-l-3_t-3 w-full   md:translate_-l-4_t-4   md:is520by460">
                        <img class="block w-full   absolute pin-t pin-l" src="../../../assets/img/placeholder_1.jpg">
                    </figure>
                    <!--<img class="block translate_-l-4_t-4 w-full" src="../../../assets/img/placeholder_3.jpg">-->
                </div>
                
                <div class="sm:w-9/10 sm:m-auto   md:pl-4 md:pr-24 md:w-3/5   lg:pl-10 lg:w-1/2">
                    <h3 class="font-medium leading-none mb-5 text-sm tracking-normal uppercase   sm:mb-10 sm:-mt-4 sm:pr-5 sm:w-1/3   md:mb-5 md:mt-8 md:w-full   lg:-mt-19">About</h3>
                    <p class="font-serif leading-loose mb-5 text-grey text-base   sm:mb-10   xl:text-lg">The Texas population is growing by more than 1000 people per day. The economy is booming. Over the coming years some of the greatest opportunities will be in retail investment and development. </p>
                    <a class="float-right font-medium leading-none no-underline text-blue-light hover:text-blue text-1xs tracking-normal uppercase    md:mr-3   xl:mr-15" href="">
                        Get to Know Us
                        <span style="font-family:'Lucida Grande'">&rarr;</span>
                    </a>
                </div>
            </div>
            <!-- End Text Left/Fancy Photo Right -->
            
            
            <!--   Info Grid   -->
            <div class="border border-yellow-lighter mb-28 px-3 py-3   md:px-4 md:py-4">
                <div class="bg-yellow-lightest border border-yellow flex flex-wrap items-start py-10   lg:py-13">

                    <!--   Info Item   -->
                    <p class="flex flex-col-reverse text-center py-4 w-full   sm:py-6 sm:w-1/2   px-5 md:w-1/3">
                        <span class="font-medium leading-normal text-grey-darkest text-2xs tracking-wide uppercase">Founded</span>
                        <span class="font-serif leading-tight mb-1 text-3xl text-yellow   sm:text-5xl   lg:text-6xl">2005</span>
                    </p>
                    <!-- End Info Item -->
                    
                    <!--   Info Item   -->
                    <p class="flex flex-col-reverse text-center py-4 w-full   sm:py-6 sm:w-1/2   px-5 md:w-1/3">
                        <span class="font-medium leading-normal text-grey-darkest text-2xs tracking-wide uppercase">Combined Partner Experience</span>
                        <span class="font-serif leading-tight mb-1 text-3xl text-yellow   sm:text-5xl   lg:text-6xl">140+ yrs</span>
                    </p>
                    <!-- End Info Item -->
                    
                    <!--   Info Item   -->
                    <p class="flex flex-col-reverse text-center py-4 w-full   sm:py-6 sm:w-1/2   px-5 md:w-1/3">
                        <span class="font-medium leading-normal text-grey-darkest text-2xs tracking-wide uppercase">Partners 3</span>
                        <span class="font-serif leading-tight mb-1 text-3xl text-yellow   sm:text-5xl   lg:text-6xl">3</span>
                    </p>
                    <!-- End Info Item -->
                    
                    <!--   Info Item   -->
                    <p class="flex flex-col-reverse text-center py-4 w-full   sm:py-6 sm:w-1/2   px-5 md:w-1/3">
                        <span class="font-medium leading-normal text-grey-darkest text-2xs tracking-wide uppercase">Avg Occupancy</span>
                        <span class="font-serif leading-tight mb-1 text-3xl text-yellow   sm:text-5xl   lg:text-6xl">92%</span>
                    </p>
                    <!-- End Info Item -->
                    
                    <!--   Info Item   -->
                    <p class="flex flex-col-reverse text-center py-4 w-full   sm:py-6 sm:w-1/2   px-5 md:w-1/3">
                        <span class="font-medium leading-normal text-grey-darkest text-2xs tracking-wide uppercase">Retail SQFT Developed</span>
                        <span class="font-serif leading-tight mb-1 text-3xl text-yellow   sm:text-5xl   lg:text-6xl">42<i>mil</i></span>
                    </p>
                    <!-- End Info Item -->
                    
                    <!--   Info Item   -->
                    <p class="flex flex-col-reverse text-center py-4 w-full   sm:py-6 sm:w-1/2   px-5 md:w-1/3">
                        <span class="font-medium leading-normal text-grey-darkest text-2xs tracking-wide uppercase">Closed Real Estate Debt</span>
                        <span class="font-serif leading-tight mb-1 text-3xl text-yellow   sm:text-5xl   lg:text-6xl">$2<i>bil</i></span>
                    </p>
                    <!-- End Info Item -->
                    
                </div>
            </div>
            <!-- End Info Grid -->
        </section>
        <!-- End Section One -->
        
        
        <!--   Section Two   -->
        <section class="m-auto max-w-2xl mb-9 px-4   sm:mb-12 sm:px-6   md:mb-16   lg:px-8">
            <!--   Headline   -->
            <!--<h2 class="element-invisible">Opportunity Rooted in Stability.</h2>-->
            
            <h2 class="heading-gradient --two   font-medium leading-tight m-auto mb-9 text-xl text-center text-yellow-dark uppercase   xs:text-2xl   sm:text-3xl   md:text-4xl"   style="max-width:11.11111111111111em">Opportunity Rooted in Stability.</h2>
            <!--
            <div class="mb-24 text-center">
                {{ partial "svg/headlines/headline_two" . }}
            </div>
            -->
            <!-- End Headline -->

                        
            <!--   Long Words   -->
            <div class="flex flex-wrap">
                <div class="mb-4 pt-3 text-center   sm:m-auto sm:w-4/5   lg:px-11 lg:w-1/3">
                    {{ partial "svg/icons/placeholder_one" . }}
                    <h3 class="leading-tight mb-4 mt-3 text-black text-base tracking-thin uppercase   md:my-6">Development</h3>
                    <p class="font-serif leading-loose mb-5 text-grey text-sm   xs:text-base   md:text-lg   lg:text-sm">Our diversification, flexibility and patience allow us to lean into a market when the conditions are ripe and lean out of a market when opportunities narrow.</p>
                </div>
                
                <div class="mb-4 pt-3 text-center   sm:m-auto sm:w-4/5   lg:border-l lg:border-r lg:border-yellow-lighter lg:px-11 lg:w-1/3">
                    {{ partial "svg/icons/placeholder_two" . }}
                    <h3 class="leading-tight mb-4 mt-3 text-black text-base tracking-thin uppercase   md:my-6">Redevelopment</h3>
                    <p class="font-serif leading-loose mb-5 text-grey text-sm   xs:text-base   md:text-lg   lg:text-sm">Our diversification, flexibility and patience allow us to lean into a market when the conditions are ripe and lean out of a market when opportunities narrow.</p>
                </div>
                                
                <div class="mb-4 pt-3 text-center   sm:m-auto sm:w-4/5   lg:px-11 lg:w-1/3">
                    {{ partial "svg/icons/placeholder_one" . }}
                    <h3 class="leading-tight mb-4 mt-3 text-black text-base tracking-thin uppercase   md:my-6">Investment</h3>
                    <p class="font-serif leading-loose mb-5 text-grey text-sm   xs:text-base   md:text-lg   lg:text-sm">Our diversification, flexibility and patience allow us to lean into a market when the conditions are ripe and lean out of a market when opportunities narrow.</p>
                </div>
            </div>
            <!-- End Long Words -->
        </section>
        <!-- End Section Two -->
        
        
        <!--   Section Three   -->
        <section style="background: url('../../../assets/img/bg-scraper.jpg') no-repeat center bottom; background-size: cover">
            <div class="py-4 sm:py-12" style="background-color:rgba(36, 40, 47, .3)">
                <div class="m-auto max-w-2xl px-4   sm:px-6   md:px-8">
                    
                    <div class="border border-yellow-lighter   px-4 py-14   xs:px-6   sm:pb-21 sm:pt-28 sm:px-10">
                        
                        <div class="m-auto max-w-sm text-center text-white   md:max-w-md">
                            <h2 class="font-medium leading-tight mb-4 text-xl uppercase   sm:text-2xl   md:text-4xl">Why is Texas Our Target Market?</h2>
                            <p class="font-serif leading-loose mb-6 text-base   md:text-lg">It’s population is growing by more than 1000 people per day. The economy is booming. Over the coming years some of the greatest opportunities will be in retail investment and development.</p>
                            <a class="btn  growf bg-white text-black   hover:bg-yellow hover:text-white" href="" style="padding-top:15px;padding-bottom:13px;">Learn More</a>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </section>
        <!-- End Section Three -->
    </main>
        
{{ end }}
{{ end }}
