<div class="bg-white fixed overflow-scroll pin text-left z-50   css-hide_bio founder-bio">

    <section class="m-auto max-w-3xl px-5 relative    pb-8 pt-24     sm:pb-24 sm:px-6   md:pb-38 md:pt-37 md:px-8">
        
        <button class="absolute cursor h-6 mr-5 mt-5 pin-r pin-t text-grey-darker hover:text-grey-lighter w-6   sm:h-8 sm:mr-14 sm:mt-12 sm:w-8   md:mr-9 md:mt-20   lg:h-10 lg:w-10      hide_bio_btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"  class="h-6 w-6   sm:h-8 sm:w-8   lg:h-10 lg:w-10" style="color:inherit;stroke:currentColor">
                <defs>
                    <style>
                        .x-stroke { 
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-width: 2px
                        }
                    </style>
                </defs>
                <path class="x-stroke" d="M41 1L1 41"/>
                <path class="x-stroke" d="M41 41L1 1"/>
            </svg>
        </button>
        
        <div class="hidden m-auto mb-5 w-9/10   sm:block   md:pl-4 md:w-auto   lg:pl-10   xl:pl-24">
            <h1 class="font-semibold leading-tight text-4xl text-yellow-dark uppercase">Steve Lipscomb</h1>
        </div>
        
        <!--   Text Left/Fancy Photo Right   -->
        <div class="md:flex md:flex-row-reverse md:justify-between">
            <div class="border border-yellow-light mb-12 ml-3 self-start   sm:ml-35p sm:w-3/5   md:ml-0 md:w-2/5">
                <figure class="img is1by1   translate_-l-3_t-3 w-full   md:translate_-l-4_t-4">
                    <img class="block w-full   absolute pin-t pin-l" src="../../../assets/img/founder__1.jpg">
                </figure>
            </div>
            
            <div class="sm:m-auto sm:w-9/10   md:pl-4 md:pr-24 md:w-3/5   lg:pl-10   xl:pl-24">
                <h3 class="text-2xl font-semibold leading-tight text-yellow-dark uppercase   xs:text-3xl   sm:hidden">Steve Lipscomb</h3>
                <h4 class="font-semibold leading-none mb-5 text-sm tracking-normal uppercase   sm:mb-10 sm:-mt-4 sm:pr-5 sm:w-1/3   md:mb-5 md:mt-8 md:w-full   lfg:-mt-19  lg:mt-4">Founder</h4>
                <p class="font-serif leading-loose mb-16 text-grey text-base   xl:text-lg">Prior to founding LRIC Properties, Lipscomb cofounded Velocis Fund I in 2010, a Dallas-based private equity real estate investment company, and was involved in the acquisition, financing and asset management of 15 properties that total more than $300 million in assets under management. Included in this was the acquisition of 4 shopping centers totaling $117 million in acquisition costs. From 2001 to 2010 he was the National Director of Archon Retail, a Goldman Sachs Company, where he was responsible for the company’s overall acquisition, development and asset management of retail properties. Under his direction, Archon Retail grew to include five regional offices across the U.S. and a team of over 20 real estate professionals. During this time he was responsible for development and redevelopment of over four million square feet of shopping centers.</p>
                <p class="font-serif leading-loose mb-16 text-grey text-base   xl:text-lg">Prior to his tenure with Archon/Goldman Sachs, Lipscomb developed numerous shopping centers across the U.S. as a development partner with North American Properties (1992-1999) and Lincoln Property Company (1980-1989). During that time frame he developed over 15 shopping centers and numerous single tenant build to suitsm.</p>
            </div>
        </div>
        <!-- End Text Left/Fancy Photo Right -->
    </section>
    
</div>